<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Identify</title>
    <meta charset="UTF-8" name="author" content="LCS">
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles.css' %}">
</head>
<body>
    <main class="container">
        <form action="identify" method="POST">
            <p class="form-title">Please identify supplier/customer/admin</p>
            <label for="userId">Identification:</label><br>
            <input type="text" id="userId" name="userId"><br>
            <button class="button button-send" type="submit">Display data</button>
            <button class="button button-reset" type="reset">Reset</button>
        </form>
    </main>
</body>





