<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Supplier</title>
    <meta charset="UTF-8" name="author" content="LCS">
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles.css' %}">
</head>
<body>
    <p class="form-title">Supplier data</p><br>
    <table>
        <tr>
            <td>Name</td>
            <td>{{name}}</td>
        </tr>
        <tr>
            <td>Street</td>
            <td>{{street}}</td>
        </tr>
        <tr>
            <td>City</td>
            <td>{{city}}</td>
        </tr>
        <tr>
            <td>State</td>
            <td>{{state}}</td>
        </tr>
    </table>
    <p>Period from {{initial}} to {{final}}</p><br>
    <img src="{% static 'main/img/graph-supplier.jpg' %}" width="800">
</body>
</html>